$c-ppal:#982d37; // otros bordo #690f0f #6a181a #982d37

$c-body: white;
$c-header: rgba(darken($c-ppal, 35%), 95%);
$c-footer: $c-header;
$c-main: rgba(black, 85%);
$c-menu-h: #f3be4f; // #f3d156 #ed9421 #f0ad4e
$c-menu-f: $c-menu-h;
$c-menu2-h: lighten($c-ppal, 15%); // #aa3e45
$c-menu2-f: $c-menu2-h;

$c-titulo: black;
$c-texto: $c-titulo;
$c-portada:#040104;
$c-titulo-portada: white;