:root {
    /*Lo uso para tener en cuenta la altura del header a definir el tamaño de ciertos elementos*/
    --hh: 7.5rem;
    --hhaux: var(--hh);

    @include responsive(md) {
        --hh: 6.55rem;
        --hhaux: var(--hh);
    }

    @include responsive(sm) {
        --hh: 6.5rem;
        --hhaux: 16.5rem;
    }
}

/* Reseteo css por default del HTML */

* {
    @extend %reset_bm;

    &:before,
    &:after {
        @extend %reset_bm;
    }
}

html {
    scroll-behavior: smooth;

    body {
        // background-color: $c-body;
        background-image: url("../images/fondos/patron1_light_2.png");
        background-repeat: repeat;

        /* Esta me pareció la mejor manera de tener el footer abajo de todo
        y que queden todos los html dinámicos: */
        min-height: 100vh;
        @include dflex(c, sb, 0, 0);
        z-index: -10;

        /* Reseteo estética de los enlaces */

        a {
            color: inherit;
            text-decoration: none;
        }

        p {
            /* Esto lo hago para pisar estilos de Bootstrap */
            margin: 0;
        }

        /* Seteo algunos estilos generales de las main sections */

        main {

            @include dflex(c, center, 0, 0);
            flex: 1;
            padding: 0 0 0.5rem;

            section {
                @include dflex(c, 0, 0, center);
                padding: 1rem 0;

                h2 {
                    font-family: nth($fuente, 1);
                    font-size: map-get($font-sizes, titulos);
                    color: $c-titulo;
                    letter-spacing: 0.2rem;
                    padding: 1rem 0 0.75rem;

                    /* Pisando Bootstrap */
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: bold;
                    line-height: inherit;

                    @include responsive(md) {
                        font-size: map-get($font-sizes, titulos) * 0.8;
                        letter-spacing: 0.15rem;
                    }

                    @include responsive(sm) {
                        font-size: map-get($font-sizes, titulos) * 0.6;
                        letter-spacing: 0.1rem;
                    }
                }
            }
        }
    }
}