/* Empieza estilos de las sections de index.html */

main {
    .portada {
        background-color: $c-portada;
        padding: 0;

        .img-portada {
            min-height: calc(320px / 1.873);
            max-height: calc((100vh + 1rem) - var(--hh));
        }

        .carousel-inner-custom {
            position: relative;

            h1 {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                font-family: nth($fuente, 2);
                font-size: map-get($font-sizes, portada);
                letter-spacing: 0.2rem;
                color: $c-titulo-portada;

                @include responsive(land) {
                    left: 14vw;
                }

                @include responsive(port) {
                    left: 4vw;
                }

                @include responsive(lg) {
                    font-size: map-get($font-sizes, portada) *0.75;
                    letter-spacing: 0.15rem;
                    bottom: 0.75rem;
                }

                @include responsive(sm_md) {
                    font-size: map-get($font-sizes, portada) *0.5;
                    letter-spacing: 0.1rem;
                    bottom: 0.5rem;
                }
            }
        }

    }

    // .video-ult-lanzamiento {
    //     max-height: calc((100vh - var(--hh)) - 5.5rem);
    //     min-height: calc((320px * 0.9) / 1.778);

    //     @include responsive(sm) {
    //         max-height: calc((100vh - var(--hh)) - 4rem);
    //     }

    //     @include responsive(port) {
    //         max-width: 90vw;
    //         height: calc(90vw / 1.778);
    //     }

    //     @include responsive(land) {
    //         max-width: 70vw;
    //         height: calc(70vw / 1.778);
    //     }
    // }

    #myagenda {
        /* Esto es para que al utilizar los enlaces del nav 
      no me quede contenido bajo el header fixed */
        position: relative;
        bottom: var(--hh);
    }

    #myagenda-aux {
        /* Esto es para que al utilizar los enlaces del nav 
      no me quede contenido bajo el header fixed */
        position: relative;
        bottom: var(--hhaux);
    }

    .panel-agenda {
        width: 100%;
        @include dflex(0, space-evenly, w, center);

        .flip-card {
            background-color: transparent;
            perspective: 600px;
            /* Remove this if you don't want the 3D effect */
            margin-bottom: 1rem;
        }

        /* This container is needed to position the front and back side */
        .flip-card-inner {
            background-color: $c-main;
            padding: 1rem;
            margin: 1rem;
            border-radius: 1rem;

            display: flex;
            justify-content: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        /* Do an horizontal flip when you move the mouse over the flip box container */
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front {
            
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            img {
                width: calc((75vh - 7.5rem)/ 1.25);

                max-width: 23vw;
                border-radius: 0.5rem;

                @include responsive(md) {
                    max-width: 55vw;
                    min-width: 17rem;
                }

                @include responsive(sm) {
                    max-width: 80vw;
                    min-width: 17rem;
                }
            }
        }

        /* Style the back side */
        .flip-card-back {
            @include dflex(c, space-around, 0, center);
            position: absolute;
            color: white;
            transform: rotateY(180deg);
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility: hidden;
            width: 100%;
            height: 93%;

            iframe {
                width: calc((75vh - 7.5rem)/ 1.25);
                max-width: 23vw;
                border-radius: 0.5rem;
                height: 55%;

                @include responsive(md) {
                    max-width: 55vw;
                    min-width: 17rem;
                }

                @include responsive(sm) {
                    max-width: 80vw;
                    min-width: 17rem;
                }
            }

            p {
                font-family: nth($fuente, 3);
                font-size: map-get($font-sizes, texto) * 0.85;
                line-height: 2.5rem;
                text-align: center;

                span {
                    font-size: map-get($font-sizes, texto);
                    letter-spacing: 0.05rem;
                }

                @include responsive(sm) {
                    font-size: map-get($font-sizes, texto) * 0.85 * 0.667;
                    line-height: 1.5rem;

                    span {
                        font-size: map-get($font-sizes, texto) * 0.667;
                        letter-spacing: 0.03rem;
                    }
                }
            }

            button {
                background: rgba(white, 20%);
                color: white;
                padding: 0.75rem 1.5rem;
                border: 1px solid white;
                border-bottom: 0.25rem solid white;
                border-radius: 0.5rem;
                font-size: map-get($font-sizes, texto) * 0.85;
                transition: all .4s;
                margin: 0.5rem;

                @include responsive(sm) {
                    padding: 0.5rem 1rem;
                    font-size: map-get($font-sizes, texto) * 0.85 * 0.667;
                }

                &:hover {
                    // background: rgba($c-ppal, 85%);
                    background: rgba(white, 10%);
                    color: $c-menu-h;
                    border: 1px solid $c-menu-h;
                    border-bottom: 0.25rem solid $c-menu-h;

                }
            }
        }

    }
}